{
 "openapi": "3.0.1",
 "info": {
  "title": "HubSpot Settings API",
  "version": "2026-09",
  "description": "HubSpot Settings API — merged from the vendor's per-API OpenAPI documents."
 },
 "servers": [
  {
   "url": "https://api.hubapi.com"
  }
 ],
 "paths": {
  "/settings/currencies/2026-09/central-fx-rates/add-currency": {
   "post": {
    "tags": [
     "Central FX rates"
    ],
    "summary": "Add a new currency with central exchange rates.",
    "description": "Create a new currency with central exchange rates in the portal. Unsupported currencies cannot be added here.",
    "operationId": "post-/settings/currencies/2026-09/central-fx-rates/add-currency_/settings/v3/currencies/central-fx-rates/add-currency",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/MulticurrencyCurrencyCreateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyExchangeRate"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.currencies.write"
      ]
     }
    ]
   }
  },
  "/settings/currencies/2026-09/central-fx-rates/information": {
   "get": {
    "tags": [
     "Central FX rates"
    ],
    "summary": "Retrieve information about the central exchange rates feature.",
    "description": "Retrieve details on whether the central exchange rates feature is enabled for the portal.",
    "operationId": "get-/settings/currencies/2026-09/central-fx-rates/information_/settings/v3/currencies/central-fx-rates/information",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyCentralExchangeRatesInformation"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "settings.currencies.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.write"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     }
    ]
   }
  },
  "/settings/currencies/2026-09/central-fx-rates/unsupported-currencies": {
   "get": {
    "tags": [
     "Central FX rates"
    ],
    "summary": "Retrieve currencies not supported by central exchange rates.",
    "description": "Retrieve a list of currency codes that are not supported by the central exchange rates. Unsupported currencies will need to be manually updated.",
    "operationId": "get-/settings/currencies/2026-09/central-fx-rates/unsupported-currencies_/settings/v3/currencies/central-fx-rates/unsupported-currencies",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyCollectionResponseCurrencyCodeInfoNoPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "settings.currencies.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.write"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     }
    ]
   }
  },
  "/settings/currencies/2026-09/codes": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Get all currency codes",
    "description": "Retrieve a list of all available currency codes and their names.",
    "operationId": "get-/settings/currencies/2026-09/codes",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyCollectionResponseCurrencyCodeInfoNoPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "settings.currencies.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.write"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     }
    ]
   }
  },
  "/settings/currencies/2026-09/company-currency": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Get the company currency",
    "description": "Get the details for the company currency. The company currency is used in deal totals, reports, and the default currency for new deals.",
    "operationId": "get-/settings/currencies/2026-09/company-currency",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyCompanyCurrency"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "settings.currencies.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.write"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     }
    ]
   },
   "put": {
    "tags": [
     "Basic"
    ],
    "summary": "Set or update the company currency.",
    "description": "Set or update the primary company currency.",
    "operationId": "put-/settings/currencies/2026-09/company-currency",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/MulticurrencyCompanyCurrencyUpdateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyCompanyCurrency"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.currencies.write"
      ]
     }
    ]
   }
  },
  "/settings/currencies/2026-09/exchange-rates": {
   "get": {
    "tags": [
     "Exchange rates"
    ],
    "summary": "Get exchange rates",
    "description": "Get a list of exchange rates",
    "operationId": "get-/settings/currencies/2026-09/exchange-rates",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "fromCurrencyCode",
      "in": "query",
      "description": "Filter results by the source currency code. Valid values include standard currency codes such as 'USD', 'EUR', etc.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "AED",
        "AFN",
        "ALL",
        "AMD",
        "ANG",
        "AOA",
        "ARS",
        "AUD",
        "AWG",
        "AZN",
        "BAM",
        "BBD",
        "BDT",
        "BGN",
        "BHD",
        "BIF",
        "BMD",
        "BND",
        "BOB",
        "BOV",
        "BRL",
        "BSD",
        "BTN",
        "BWP",
        "BYN",
        "BZD",
        "CAD",
        "CDF",
        "CHE",
        "CHF",
        "CHW",
        "CLF",
        "CLP",
        "CNY",
        "COP",
        "COU",
        "CRC",
        "CUC",
        "CUP",
        "CVE",
        "CZK",
        "DJF",
        "DKK",
        "DOP",
        "DZD",
        "EGP",
        "ERN",
        "ETB",
        "EUR",
        "FJD",
        "FKP",
        "GBP",
        "GEL",
        "GHS",
        "GIP",
        "GMD",
        "GNF",
        "GTQ",
        "GYD",
        "HKD",
        "HNL",
        "HRK",
        "HTG",
        "HUF",
        "IDR",
        "ILS",
        "INR",
        "IQD",
        "IRR",
        "ISK",
        "JMD",
        "JOD",
        "JPY",
        "KES",
        "KGS",
        "KHR",
        "KMF",
        "KPW",
        "KRW",
        "KWD",
        "KYD",
        "KZT",
        "LAK",
        "LBP",
        "LKR",
        "LRD",
        "LSL",
        "LYD",
        "MAD",
        "MDL",
        "MGA",
        "MKD",
        "MMK",
        "MNT",
        "MOP",
        "MRU",
        "MUR",
        "MVR",
        "MWK",
        "MXN",
        "MXV",
        "MYR",
        "MZN",
        "NAD",
        "NGN",
        "NIO",
        "NOK",
        "NPR",
        "NZD",
        "OMR",
        "PAB",
        "PEN",
        "PGK",
        "PHP",
        "PKR",
        "PLN",
        "PYG",
        "QAR",
        "RON",
        "RSD",
        "RUB",
        "RWF",
        "SAR",
        "SBD",
        "SCR",
        "SDG",
        "SEK",
        "SGD",
        "SHP",
        "SLL",
        "SOS",
        "SRD",
        "SSP",
        "STN",
        "SVC",
        "SYP",
        "SZL",
        "THB",
        "TJS",
        "TMT",
        "TND",
        "TOP",
        "TRY",
        "TTD",
        "TWD",
        "TZS",
        "UAH",
        "UGX",
        "USD",
        "USN",
        "UYI",
        "UYU",
        "UZS",
        "VEF",
        "VND",
        "VUV",
        "WST",
        "XAF",
        "XAG",
        "XAU",
        "XBA",
        "XBB",
        "XBC",
        "XBD",
        "XCD",
        "XDR",
        "XOF",
        "XPD",
        "XPF",
        "XPT",
        "XSU",
        "XUA",
        "YER",
        "ZAR",
        "ZMW",
        "ZWL"
       ]
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null,
       "default": 100
      }
     },
     {
      "name": "toCurrencyCode",
      "in": "query",
      "description": "Filter results by the target currency code. Valid values include standard currency codes such as 'USD', 'EUR', etc.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "AED",
        "AFN",
        "ALL",
        "AMD",
        "ANG",
        "AOA",
        "ARS",
        "AUD",
        "AWG",
        "AZN",
        "BAM",
        "BBD",
        "BDT",
        "BGN",
        "BHD",
        "BIF",
        "BMD",
        "BND",
        "BOB",
        "BOV",
        "BRL",
        "BSD",
        "BTN",
        "BWP",
        "BYN",
        "BZD",
        "CAD",
        "CDF",
        "CHE",
        "CHF",
        "CHW",
        "CLF",
        "CLP",
        "CNY",
        "COP",
        "COU",
        "CRC",
        "CUC",
        "CUP",
        "CVE",
        "CZK",
        "DJF",
        "DKK",
        "DOP",
        "DZD",
        "EGP",
        "ERN",
        "ETB",
        "EUR",
        "FJD",
        "FKP",
        "GBP",
        "GEL",
        "GHS",
        "GIP",
        "GMD",
        "GNF",
        "GTQ",
        "GYD",
        "HKD",
        "HNL",
        "HRK",
        "HTG",
        "HUF",
        "IDR",
        "ILS",
        "INR",
        "IQD",
        "IRR",
        "ISK",
        "JMD",
        "JOD",
        "JPY",
        "KES",
        "KGS",
        "KHR",
        "KMF",
        "KPW",
        "KRW",
        "KWD",
        "KYD",
        "KZT",
        "LAK",
        "LBP",
        "LKR",
        "LRD",
        "LSL",
        "LYD",
        "MAD",
        "MDL",
        "MGA",
        "MKD",
        "MMK",
        "MNT",
        "MOP",
        "MRU",
        "MUR",
        "MVR",
        "MWK",
        "MXN",
        "MXV",
        "MYR",
        "MZN",
        "NAD",
        "NGN",
        "NIO",
        "NOK",
        "NPR",
        "NZD",
        "OMR",
        "PAB",
        "PEN",
        "PGK",
        "PHP",
        "PKR",
        "PLN",
        "PYG",
        "QAR",
        "RON",
        "RSD",
        "RUB",
        "RWF",
        "SAR",
        "SBD",
        "SCR",
        "SDG",
        "SEK",
        "SGD",
        "SHP",
        "SLL",
        "SOS",
        "SRD",
        "SSP",
        "STN",
        "SVC",
        "SYP",
        "SZL",
        "THB",
        "TJS",
        "TMT",
        "TND",
        "TOP",
        "TRY",
        "TTD",
        "TWD",
        "TZS",
        "UAH",
        "UGX",
        "USD",
        "USN",
        "UYI",
        "UYU",
        "UZS",
        "VEF",
        "VND",
        "VUV",
        "WST",
        "XAF",
        "XAG",
        "XAU",
        "XBA",
        "XBB",
        "XBC",
        "XBD",
        "XCD",
        "XDR",
        "XOF",
        "XPD",
        "XPF",
        "XPT",
        "XSU",
        "XUA",
        "YER",
        "ZAR",
        "ZMW",
        "ZWL"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyCollectionResponseExchangeRateForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "settings.currencies.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.write"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     }
    ]
   },
   "post": {
    "tags": [
     "Exchange rates"
    ],
    "summary": "Add a new exchange rate",
    "description": "Create a new exchange rate with specified conversion rate and currency codes.",
    "operationId": "post-/settings/currencies/2026-09/exchange-rates",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/MulticurrencyExchangeRateCreateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyExchangeRate"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.currencies.write"
      ]
     }
    ]
   }
  },
  "/settings/currencies/2026-09/exchange-rates/batch/create": {
   "post": {
    "tags": [
     "Batch"
    ],
    "summary": "Create multiple exchange rates",
    "description": "Create multiple exchange rates in a single request.",
    "operationId": "post-/settings/currencies/2026-09/exchange-rates/batch/create",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/MulticurrencyBatchInputExchangeRateCreateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyBatchResponseExchangeRate"
        },
        "example": null
       }
      }
     },
     "207": {
      "description": "multiple statuses",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyBatchResponseExchangeRateWithErrors"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.currencies.write"
      ]
     }
    ]
   }
  },
  "/settings/currencies/2026-09/exchange-rates/batch/read": {
   "post": {
    "tags": [
     "Batch"
    ],
    "summary": "Retrieve multiple rates",
    "description": "Retrieve the details of multiple exchange rates in a single request, specified by their IDs.",
    "operationId": "post-/settings/currencies/2026-09/exchange-rates/batch/read",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/MulticurrencyBatchInputPublicObjectId"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyBatchResponseExchangeRate"
        },
        "example": null
       }
      }
     },
     "207": {
      "description": "multiple statuses",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyBatchResponseExchangeRateWithErrors"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "settings.currencies.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.write"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     }
    ]
   }
  },
  "/settings/currencies/2026-09/exchange-rates/batch/update": {
   "post": {
    "tags": [
     "Batch"
    ],
    "summary": "Update multiple exchange rates",
    "description": "Update the conversion rates for multiple exchange rates in a batch operation.",
    "operationId": "post-/settings/currencies/2026-09/exchange-rates/batch/update",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/MulticurrencyBatchInputExchangeRateUpdateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyBatchResponseExchangeRate"
        },
        "example": null
       }
      }
     },
     "207": {
      "description": "multiple statuses",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyBatchResponseExchangeRateWithErrors"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.currencies.write"
      ]
     }
    ]
   }
  },
  "/settings/currencies/2026-09/exchange-rates/current": {
   "get": {
    "tags": [
     "Exchange rates"
    ],
    "summary": "Get all current exchange rates",
    "description": "Retrieve all current exchange rates for all currency pairs.",
    "operationId": "get-/settings/currencies/2026-09/exchange-rates/current",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyCollectionResponseExchangeRateNoPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "settings.currencies.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.write"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     }
    ]
   }
  },
  "/settings/currencies/2026-09/exchange-rates/update-visibility": {
   "post": {
    "tags": [
     "Exchange rates"
    ],
    "summary": "Change the visibility of a specific currency pairs",
    "description": "Change the visibility setting for a currency pair. This will hide or display a currency pair for users in the HubSpot app.",
    "operationId": "post-/settings/currencies/2026-09/exchange-rates/update-visibility",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/MulticurrencyCurrencyPairUpdate"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.currencies.write"
      ]
     }
    ]
   }
  },
  "/settings/currencies/2026-09/exchange-rates/{exchangeRateId}": {
   "get": {
    "tags": [
     "Exchange rates"
    ],
    "summary": "Get the details for a specific exchange rate",
    "description": "Retrieve the details for a specific exchange rate specified by its ID.",
    "operationId": "get-/settings/currencies/2026-09/exchange-rates/{exchangeRateId}",
    "parameters": [
     {
      "name": "exchangeRateId",
      "in": "path",
      "description": "The unique identifier of the exchange rate to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyExchangeRate"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "settings.currencies.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.write"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Exchange rates"
    ],
    "summary": "Update a conversion rate",
    "description": "Update an existing conversion rate, specified by its ID.",
    "operationId": "patch-/settings/currencies/2026-09/exchange-rates/{exchangeRateId}",
    "parameters": [
     {
      "name": "exchangeRateId",
      "in": "path",
      "description": "The unique identifier of the exchange rate to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/MulticurrencyExchangeRateMultiplier"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/MulticurrencyExchangeRate"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/MulticurrencyError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.currencies.write"
      ]
     }
    ]
   }
  },
  "/tax-rates/2026-09/tax-rates": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Get all tax rates",
    "description": "Retrieve a paginated list of all tax rates set up in the account tax rate library",
    "operationId": "get-/tax-rates/2026-09/tax-rates",
    "parameters": [
     {
      "name": "active",
      "in": "query",
      "description": "A boolean to filter results by their active status.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     },
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TaxRatesCollectionResponsePublicTaxRateGroupForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/TaxRatesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "tax_rates.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.write"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     }
    ]
   }
  },
  "/tax-rates/2026-09/tax-rates/{taxRateGroupId}": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Get a specific tax rate",
    "description": "Retrieve a specific tax rate by its `taxRateGroupId`.",
    "operationId": "get-/tax-rates/2026-09/tax-rates/{taxRateGroupId}",
    "parameters": [
     {
      "name": "taxRateGroupId",
      "in": "path",
      "description": "The unique identifier of the tax rate group to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TaxRatesPublicTaxRateGroup"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/TaxRatesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "cpq.quotes.write"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.read"
      ]
     },
     {
      "oauth2": [
       "tax_rates.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.quotes.write"
      ]
     },
     {
      "oauth2": [
       "cpq.quotes.read"
      ]
     }
    ]
   }
  },
  "/settings/teams/2026-09": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "List teams",
    "description": "Retrieve a list of teams from your HubSpot account. This endpoint allows you to paginate through the teams using the 'limit' and 'after' query parameters. It is useful for obtaining an overview of all teams configured in the account.",
    "operationId": "get-/settings/teams/2026-09",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TeamsCollectionResponseTeamResponseForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/TeamsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.teams.read"
      ]
     }
    ]
   },
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Create Team",
    "description": "Create a new team in your HubSpot account. This endpoint allows you to define the team's name, parent team, and members. The request body must include the team's name and members. Upon successful creation, the response will include the URL of the newly created team resource.",
    "operationId": "post-/settings/teams/2026-09",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/TeamsTeamCreateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TeamsTeamResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/TeamsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.teams.write"
      ]
     }
    ]
   }
  },
  "/settings/teams/2026-09/{teamId}": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve team",
    "description": "Retrieve detailed information about a specific team in your HubSpot account using the team's unique identifier. This endpoint is useful for accessing the team's properties, such as its name and parent team ID, to manage or display team-related data.",
    "operationId": "get-/settings/teams/2026-09/{teamId}",
    "parameters": [
     {
      "name": "teamId",
      "in": "path",
      "description": "The unique identifier of the team to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TeamsTeamResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/TeamsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.teams.read"
      ]
     }
    ]
   },
   "delete": {
    "tags": [
     "Basic"
    ],
    "summary": "Delete team",
    "description": "Delete a specific team from your HubSpot account using the team's unique identifier. This operation will remove the team and its associated data. Ensure that you have the necessary permissions to perform this action.",
    "operationId": "delete-/settings/teams/2026-09/{teamId}",
    "parameters": [
     {
      "name": "teamId",
      "in": "path",
      "description": "The unique identifier of the team to delete.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/TeamsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.teams.write"
      ]
     }
    ]
   },
   "patch": {
    "tags": [
     "Basic"
    ],
    "summary": "Update team",
    "description": "Update the details of a specific team in your HubSpot account. This endpoint allows you to modify the team's information, such as its name or parent team ID. Ensure that the teamId provided in the path is correct, as it identifies the team to be updated.",
    "operationId": "patch-/settings/teams/2026-09/{teamId}",
    "parameters": [
     {
      "name": "teamId",
      "in": "path",
      "description": "The unique identifier of the team to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/TeamsTeamUpdateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TeamsTeamResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/TeamsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.teams.write"
      ]
     }
    ]
   }
  },
  "/settings/teams/2026-09/{teamId}/members": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "List members",
    "description": "Retrieve a list of members for a specified team in your HubSpot account. This endpoint allows you to paginate through the team members using the 'limit' and 'after' query parameters. It is useful for managing and viewing team compositions and roles within your organization.",
    "operationId": "get-/settings/teams/2026-09/{teamId}/members",
    "parameters": [
     {
      "name": "teamId",
      "in": "path",
      "description": "The unique identifier of the team whose members are being retrieved.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource, returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TeamsCollectionResponseTeamMemberResponseForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/TeamsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.teams.read"
      ]
     }
    ]
   },
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Add Team Members",
    "description": "Assign new members to a specific team in your HubSpot account. This endpoint allows you to add users to a team by specifying their user IDs and roles. It is useful for managing team compositions and ensuring the right users have access to team resources.",
    "operationId": "post-/settings/teams/2026-09/{teamId}/members",
    "parameters": [
     {
      "name": "teamId",
      "in": "path",
      "description": "The unique identifier of the team to which members will be added.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/TeamsTeamMemberAssignment"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TeamsTeamMemberResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/TeamsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.teams.write"
      ]
     }
    ]
   }
  },
  "/settings/teams/2026-09/{teamId}/members/batch": {
   "post": {
    "tags": [
     "Batch"
    ],
    "summary": "Batch assign members",
    "description": "Assign multiple members to a specific team in a single request. This endpoint allows for efficient management of team memberships by processing multiple assignments at once. It is useful for organizations looking to streamline their team management processes.",
    "operationId": "post-/settings/teams/2026-09/{teamId}/members/batch",
    "parameters": [
     {
      "name": "teamId",
      "in": "path",
      "description": "The unique identifier of the team to which members will be assigned.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/TeamsBatchInputTeamMemberAssignment"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TeamsBatchResponseTeamMemberResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/TeamsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.teams.write"
      ]
     }
    ]
   }
  },
  "/settings/teams/2026-09/{teamId}/members/{userId}": {
   "delete": {
    "tags": [
     "Basic"
    ],
    "summary": "Delete member",
    "description": "Remove a specific member from a team in your HubSpot account. This operation requires specifying both the team and user identifiers. It is useful for managing team compositions by removing users who no longer need access or association with a particular team.",
    "operationId": "delete-/settings/teams/2026-09/{teamId}/members/{userId}",
    "parameters": [
     {
      "name": "teamId",
      "in": "path",
      "description": "The unique identifier of the team from which the member will be removed.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "userId",
      "in": "path",
      "description": "The unique identifier of the user to be removed from the team.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "type",
      "in": "query",
      "description": "Specifies the type of removal. Acceptable values are 'DEFAULT' or 'EXTRA'. Defaults to 'DEFAULT'.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null,
       "default": "DEFAULT",
       "enum": [
        "DEFAULT",
        "EXTRA"
       ]
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/TeamsError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.teams.write"
      ]
     }
    ]
   }
  },
  "/settings/users/2026-09": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieves users",
    "description": "Retrieve a paginated list of users in your HubSpot account. This endpoint allows you to specify the maximum number of results per page and to use a paging cursor for navigating through the list of users.",
    "operationId": "get-/settings/users/2026-09",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UserProvisioningCollectionResponsePublicUserForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/UserProvisioningError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.users.read"
      ]
     }
    ]
   },
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Create a user",
    "description": "Create a new user in your HubSpot account using the specified details. This endpoint requires a JSON request body with user information such as email, first name, last name, role, and seats. A welcome email can be optionally sent to the new user. ",
    "operationId": "post-/settings/users/2026-09",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UserProvisioningUserProvisionRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UserProvisioningPublicUser"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/UserProvisioningError"
     }
    },
    "security": [
     {
      "oauth2": [
       "crm.objects.users.write"
      ]
     },
     {
      "oauth2": [
       "settings.users.write"
      ]
     }
    ]
   }
  },
  "/settings/users/2026-09/roles": {
   "get": {
    "tags": [
     "Roles"
    ],
    "summary": "Retrieves the roles on an account",
    "description": "Retrieve a list of user roles available in your HubSpot account. This endpoint provides information about the different permission sets that can be assigned to users, which is useful for managing user access and permissions within the account.",
    "operationId": "get-/settings/users/2026-09/roles",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UserProvisioningCollectionResponsePublicPermissionSetNoPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/UserProvisioningError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.users.read"
      ]
     }
    ]
   }
  },
  "/settings/users/2026-09/seats": {
   "get": {
    "tags": [
     "Seats"
    ],
    "summary": "Retrieves the seats on this account",
    "description": "Retrieve the list of seats available in the account. This endpoint provides details about each seat, including its name, description, and the number of remaining seats. It is useful for managing and reviewing seat allocations within your organization.",
    "operationId": "get-/settings/users/2026-09/seats",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UserProvisioningCollectionResponsePublicSeatNoPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/UserProvisioningError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.billing.write"
      ]
     }
    ]
   }
  },
  "/settings/users/2026-09/teams": {
   "get": {
    "tags": [
     "Teams"
    ],
    "summary": "See details about this account's teams",
    "description": "View teams for this account",
    "operationId": "get-/settings/users/2026-09/teams",
    "parameters": [],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UserProvisioningCollectionResponsePublicTeamNoPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/UserProvisioningError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.teams.read"
      ]
     }
    ]
   }
  },
  "/settings/users/2026-09/{userId}": {
   "get": {
    "tags": [
     "Users"
    ],
    "summary": "Retrieves a user",
    "description": "Retrieves a user identified by `userId`. `userId` refers to the user's ID by default, or optionally email as specified by the `IdProperty` query param.",
    "operationId": "get-/settings/users/2026-09/{userId}",
    "parameters": [
     {
      "name": "userId",
      "in": "path",
      "description": "The unique identifier of the user to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "idProperty",
      "in": "query",
      "description": "Specifies the property used to identify the user. Valid values are 'USER_ID' and 'EMAIL'.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "EMAIL",
        "USER_ID"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UserProvisioningPublicUser"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/UserProvisioningError"
     }
    },
    "security": [
     {
      "oauth2": [
       "settings.users.read"
      ]
     },
     {
      "oauth2": [
       "crm.objects.users.read"
      ]
     }
    ]
   },
   "put": {
    "tags": [
     "Users"
    ],
    "summary": "Modifies a user",
    "description": "Modifies a user identified by `userId`. `userId` refers to the user's ID by default, or optionally email as specified by the `IdProperty` query param.",
    "operationId": "put-/settings/users/2026-09/{userId}",
    "parameters": [
     {
      "name": "userId",
      "in": "path",
      "description": "The unique identifier of the user to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "idProperty",
      "in": "query",
      "description": "Specifies the property to use for identifying the user. Valid values are 'USER_ID' or 'EMAIL'.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "EMAIL",
        "USER_ID"
       ]
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UserProvisioningPublicUserUpdate"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UserProvisioningPublicUser"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/UserProvisioningError"
     }
    },
    "security": [
     {
      "oauth2": [
       "crm.objects.users.write"
      ]
     },
     {
      "oauth2": [
       "settings.users.write"
      ]
     }
    ]
   },
   "delete": {
    "tags": [
     "Users"
    ],
    "summary": "Removes a user",
    "description": "Removes a user identified by `userId`. `userId` refers to the user's ID by default, or optionally email as specified by the `IdProperty` query param.",
    "operationId": "delete-/settings/users/2026-09/{userId}",
    "parameters": [
     {
      "name": "userId",
      "in": "path",
      "description": "The unique identifier of the user to delete.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "idProperty",
      "in": "query",
      "description": "Specifies the property to identify the user. Valid values are 'USER_ID' or 'EMAIL'.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "EMAIL",
        "USER_ID"
       ]
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/UserProvisioningError"
     }
    },
    "security": [
     {
      "oauth2": [
       "crm.objects.users.write"
      ]
     },
     {
      "oauth2": [
       "settings.users.write"
      ]
     }
    ]
   }
  }
 },
 "components": {
  "securitySchemes": {
   "developer_hapikey": {
    "type": "apiKey",
    "name": "hapikey",
    "in": "query"
   },
   "oauth2": {
    "type": "oauth2",
    "flows": {
     "authorizationCode": {
      "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
      "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
      "scopes": {
       "cpq.quotes.read": "",
       "cpq.quotes.write": "",
       "crm.objects.quotes.read": "",
       "crm.objects.quotes.write": "",
       "settings.currencies.read": "",
       "settings.currencies.write": ""
      }
     }
    }
   },
   "private_apps": {
    "type": "apiKey",
    "name": "private-app",
    "in": "header"
   },
   "private_apps_legacy": {
    "type": "apiKey",
    "name": "private-app-legacy",
    "in": "header"
   }
  },
  "schemas": {
   "MulticurrencyBatchInputExchangeRateCreateRequest": {
    "required": [
     "inputs"
    ],
    "type": "object",
    "properties": {
     "inputs": {
      "type": "array",
      "description": "An array of ExchangeRateCreateRequest objects, each representing the details required to create a single exchange rate. This includes properties like fromCurrencyCode, conversionRate, and effectiveAt.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/MulticurrencyExchangeRateCreateRequest"
      }
     }
    },
    "example": null
   },
   "MulticurrencyBatchInputExchangeRateUpdateRequest": {
    "required": [
     "inputs"
    ],
    "type": "object",
    "properties": {
     "inputs": {
      "type": "array",
      "description": "An array of ExchangeRateUpdateRequest objects, each representing an individual exchange rate update. This array is required and contains the details of each exchange rate to be updated, including the conversion rate and the effective date.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/MulticurrencyExchangeRateUpdateRequest"
      }
     }
    },
    "example": null
   },
   "MulticurrencyBatchInputPublicObjectId": {
    "required": [
     "inputs"
    ],
    "type": "object",
    "properties": {
     "inputs": {
      "type": "array",
      "description": "An array of PublicObjectId objects. Each object contains an ID string representing a unique identifier for a public object. This property is required.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/MulticurrencyPublicObjectId"
      }
     }
    },
    "example": null
   },
   "MulticurrencyBatchResponseExchangeRate": {
    "required": [
     "completedAt",
     "results",
     "startedAt",
     "status"
    ],
    "type": "object",
    "properties": {
     "completedAt": {
      "type": "string",
      "description": "The datetime the response was completed",
      "format": "date-time",
      "example": null
     },
     "links": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "The link to the next page with exchange rates.",
      "example": null
     },
     "requestedAt": {
      "type": "string",
      "description": "The datetime the of the request.",
      "format": "date-time",
      "example": null
     },
     "results": {
      "type": "array",
      "description": "An array of exchange rate objects that represent the results of the batch operation.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/MulticurrencyExchangeRate"
      }
     },
     "startedAt": {
      "type": "string",
      "description": "The datetime the of the request.",
      "format": "date-time",
      "example": null
     },
     "status": {
      "type": "string",
      "description": "The current status of the response (e.g. COMPLETED)",
      "example": null,
      "enum": [
       "CANCELED",
       "COMPLETE",
       "PENDING",
       "PROCESSING"
      ]
     }
    },
    "example": null
   },
   "MulticurrencyBatchResponseExchangeRateWithErrors": {
    "required": [
     "completedAt",
     "results",
     "startedAt",
     "status"
    ],
    "type": "object",
    "properties": {
     "completedAt": {
      "type": "string",
      "description": "The datetime the response was completed",
      "format": "date-time",
      "example": null
     },
     "errors": {
      "type": "array",
      "description": "An array of standard error objects detailing any errors encountered during the batch operation.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/MulticurrencyStandardError"
      }
     },
     "links": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "The link to the next page with exchange rates.",
      "example": null
     },
     "numErrors": {
      "type": "integer",
      "description": "The number of errors associated to the request.",
      "format": "int32",
      "example": null
     },
     "requestedAt": {
      "type": "string",
      "description": "The datetime the of the request.",
      "format": "date-time",
      "example": null
     },
     "results": {
      "type": "array",
      "description": "An array of exchange rate objects representing the successful results of the batch operation.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/MulticurrencyExchangeRate"
      }
     },
     "startedAt": {
      "type": "string",
      "description": "The datetime the of the request.",
      "format": "date-time",
      "example": null
     },
     "status": {
      "type": "string",
      "description": "The current status of the response (e.g. COMPLETED)",
      "example": null,
      "enum": [
       "CANCELED",
       "COMPLETE",
       "PENDING",
       "PROCESSING"
      ]
     }
    },
    "example": null
   },
   "MulticurrencyCentralExchangeRatesInformation": {
    "required": [
     "centralExchangeRatesEnabled"
    ],
    "type": "object",
    "properties": {
     "centralExchangeRatesEnabled": {
      "type": "boolean",
      "description": "Indicates if central exchange rates is enabled for the portal or not.",
      "example": null
     }
    },
    "example": null
   },
   "MulticurrencyCollectionResponseCurrencyCodeInfoNoPaging": {
    "required": [
     "results"
    ],
    "type": "object",
    "properties": {
     "results": {
      "type": "array",
      "description": "An array of currency code information objects, each containing details about a specific currency code and its name.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/MulticurrencyCurrencyCodeInfo"
      }
     }
    },
    "example": null
   },
   "MulticurrencyCollectionResponseExchangeRateForwardPaging": {
    "required": [
     "results"
    ],
    "type": "object",
    "properties": {
     "paging": {
      "$ref": "#/components/schemas/MulticurrencyForwardPaging"
     },
     "results": {
      "type": "array",
      "description": "An array of exchange rate objects, each representing a specific currency conversion rate.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/MulticurrencyExchangeRate"
      }
     }
    },
    "example": null
   },
   "MulticurrencyCollectionResponseExchangeRateNoPaging": {
    "required": [
     "results"
    ],
    "type": "object",
    "properties": {
     "results": {
      "type": "array",
      "description": "An array of exchange rate objects, each representing the conversion rate details between two currencies.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/MulticurrencyExchangeRate"
      }
     }
    },
    "example": null
   },
   "MulticurrencyCompanyCurrency": {
    "required": [
     "createdAt",
     "id"
    ],
    "type": "object",
    "properties": {
     "createdAt": {
      "type": "string",
      "description": "The date the company currency was created.",
      "format": "date-time",
      "example": null
     },
     "id": {
      "type": "string",
      "description": "The currency code for the company currency",
      "example": null
     }
    },
    "example": null
   },
   "MulticurrencyCompanyCurrencyUpdateRequest": {
    "required": [
     "currencyCode"
    ],
    "type": "object",
    "properties": {
     "currencyCode": {
      "type": "string",
      "description": "The three-letter code representing a specific currency (ex. USD).",
      "example": null,
      "enum": [
       "AED",
       "AFN",
       "ALL",
       "AMD",
       "ANG",
       "AOA",
       "ARS",
       "AUD",
       "AWG",
       "AZN",
       "BAM",
       "BBD",
       "BDT",
       "BGN",
       "BHD",
       "BIF",
       "BMD",
       "BND",
       "BOB",
       "BOV",
       "BRL",
       "BSD",
       "BTN",
       "BWP",
       "BYN",
       "BZD",
       "CAD",
       "CDF",
       "CHE",
       "CHF",
       "CHW",
       "CLF",
       "CLP",
       "CNY",
       "COP",
       "COU",
       "CRC",
       "CUC",
       "CUP",
       "CVE",
       "CZK",
       "DJF",
       "DKK",
       "DOP",
       "DZD",
       "EGP",
       "ERN",
       "ETB",
       "EUR",
       "FJD",
       "FKP",
       "GBP",
       "GEL",
       "GHS",
       "GIP",
       "GMD",
       "GNF",
       "GTQ",
       "GYD",
       "HKD",
       "HNL",
       "HRK",
       "HTG",
       "HUF",
       "IDR",
       "ILS",
       "INR",
       "IQD",
       "IRR",
       "ISK",
       "JMD",
       "JOD",
       "JPY",
       "KES",
       "KGS",
       "KHR",
       "KMF",
       "KPW",
       "KRW",
       "KWD",
       "KYD",
       "KZT",
       "LAK",
       "LBP",
       "LKR",
       "LRD",
       "LSL",
       "LYD",
       "MAD",
       "MDL",
       "MGA",
       "MKD",
       "MMK",
       "MNT",
       "MOP",
       "MRU",
       "MUR",
       "MVR",
       "MWK",
       "MXN",
       "MXV",
       "MYR",
       "MZN",
       "NAD",
       "NGN",
       "NIO",
       "NOK",
       "NPR",
       "NZD",
       "OMR",
       "PAB",
       "PEN",
       "PGK",
       "PHP",
       "PKR",
       "PLN",
       "PYG",
       "QAR",
       "RON",
       "RSD",
       "RUB",
       "RWF",
       "SAR",
       "SBD",
       "SCR",
       "SDG",
       "SEK",
       "SGD",
       "SHP",
       "SLL",
       "SOS",
       "SRD",
       "SSP",
       "STN",
       "SVC",
       "SYP",
       "SZL",
       "THB",
       "TJS",
       "TMT",
       "TND",
       "TOP",
       "TRY",
       "TTD",
       "TWD",
       "TZS",
       "UAH",
       "UGX",
       "USD",
       "USN",
       "UYI",
       "UYU",
       "UZS",
       "VEF",
       "VND",
       "VUV",
       "WST",
       "XAF",
       "XAG",
       "XAU",
       "XBA",
       "XBB",
       "XBC",
       "XBD",
       "XCD",
       "XDR",
       "XOF",
       "XPD",
       "XPF",
       "XPT",
       "XSU",
       "XUA",
       "YER",
       "ZAR",
       "ZMW",
       "ZWL"
      ]
     }
    },
    "example": null
   },
   "MulticurrencyCurrencyCodeInfo": {
    "required": [
     "currencyCode",
     "currencyName"
    ],
    "type": "object",
    "properties": {
     "currencyCode": {
      "type": "string",
      "description": "The three-letter code representing a specific currency (ex. USD).",
      "example": null
     },
     "currencyName": {
      "type": "string",
      "description": "The full name of the currency (ex. US Dollar).",
      "example": null
     }
    },
    "example": null
   },
   "MulticurrencyCurrencyCreateRequest": {
    "required": [
     "currencyCode"
    ],
    "type": "object",
    "properties": {
     "currencyCode": {
      "type": "string",
      "description": "The currency code being added to the HubSpot portal for use with central exchange rates.",
      "example": null,
      "enum": [
       "AED",
       "AFN",
       "ALL",
       "AMD",
       "ANG",
       "AOA",
       "ARS",
       "AUD",
       "AWG",
       "AZN",
       "BAM",
       "BBD",
       "BDT",
       "BGN",
       "BHD",
       "BIF",
       "BMD",
       "BND",
       "BOB",
       "BOV",
       "BRL",
       "BSD",
       "BTN",
       "BWP",
       "BYN",
       "BZD",
       "CAD",
       "CDF",
       "CHE",
       "CHF",
       "CHW",
       "CLF",
       "CLP",
       "CNY",
       "COP",
       "COU",
       "CRC",
       "CUC",
       "CUP",
       "CVE",
       "CZK",
       "DJF",
       "DKK",
       "DOP",
       "DZD",
       "EGP",
       "ERN",
       "ETB",
       "EUR",
       "FJD",
       "FKP",
       "GBP",
       "GEL",
       "GHS",
       "GIP",
       "GMD",
       "GNF",
       "GTQ",
       "GYD",
       "HKD",
       "HNL",
       "HRK",
       "HTG",
       "HUF",
       "IDR",
       "ILS",
       "INR",
       "IQD",
       "IRR",
       "ISK",
       "JMD",
       "JOD",
       "JPY",
       "KES",
       "KGS",
       "KHR",
       "KMF",
       "KPW",
       "KRW",
       "KWD",
       "KYD",
       "KZT",
       "LAK",
       "LBP",
       "LKR",
       "LRD",
       "LSL",
       "LYD",
       "MAD",
       "MDL",
       "MGA",
       "MKD",
       "MMK",
       "MNT",
       "MOP",
       "MRU",
       "MUR",
       "MVR",
       "MWK",
       "MXN",
       "MXV",
       "MYR",
       "MZN",
       "NAD",
       "NGN",
       "NIO",
       "NOK",
       "NPR",
       "NZD",
       "OMR",
       "PAB",
       "PEN",
       "PGK",
       "PHP",
       "PKR",
       "PLN",
       "PYG",
       "QAR",
       "RON",
       "RSD",
       "RUB",
       "RWF",
       "SAR",
       "SBD",
       "SCR",
       "SDG",
       "SEK",
       "SGD",
       "SHP",
       "SLL",
       "SOS",
       "SRD",
       "SSP",
       "STN",
       "SVC",
       "SYP",
       "SZL",
       "THB",
       "TJS",
       "TMT",
       "TND",
       "TOP",
       "TRY",
       "TTD",
       "TWD",
       "TZS",
       "UAH",
       "UGX",
       "USD",
       "USN",
       "UYI",
       "UYU",
       "UZS",
       "VEF",
       "VND",
       "VUV",
       "WST",
       "XAF",
       "XAG",
       "XAU",
       "XBA",
       "XBB",
       "XBC",
       "XBD",
       "XCD",
       "XDR",
       "XOF",
       "XPD",
       "XPF",
       "XPT",
       "XSU",
       "XUA",
       "YER",
       "ZAR",
       "ZMW",
       "ZWL"
      ]
     }
    },
    "example": null
   },
   "MulticurrencyCurrencyPairUpdate": {
    "required": [
     "fromCurrencyCode",
     "toCurrencyCode",
     "visibleInUI"
    ],
    "type": "object",
    "properties": {
     "fromCurrencyCode": {
      "type": "string",
      "description": "This represents the three-letter currency code (such as USD for US Dollar) of the currency you want to convert from.",
      "example": null,
      "enum": [
       "AED",
       "AFN",
       "ALL",
       "AMD",
       "ANG",
       "AOA",
       "ARS",
       "AUD",
       "AWG",
       "AZN",
       "BAM",
       "BBD",
       "BDT",
       "BGN",
       "BHD",
       "BIF",
       "BMD",
       "BND",
       "BOB",
       "BOV",
       "BRL",
       "BSD",
       "BTN",
       "BWP",
       "BYN",
       "BZD",
       "CAD",
       "CDF",
       "CHE",
       "CHF",
       "CHW",
       "CLF",
       "CLP",
       "CNY",
       "COP",
       "COU",
       "CRC",
       "CUC",
       "CUP",
       "CVE",
       "CZK",
       "DJF",
       "DKK",
       "DOP",
       "DZD",
       "EGP",
       "ERN",
       "ETB",
       "EUR",
       "FJD",
       "FKP",
       "GBP",
       "GEL",
       "GHS",
       "GIP",
       "GMD",
       "GNF",
       "GTQ",
       "GYD",
       "HKD",
       "HNL",
       "HRK",
       "HTG",
       "HUF",
       "IDR",
       "ILS",
       "INR",
       "IQD",
       "IRR",
       "ISK",
       "JMD",
       "JOD",
       "JPY",
       "KES",
       "KGS",
       "KHR",
       "KMF",
       "KPW",
       "KRW",
       "KWD",
       "KYD",
       "KZT",
       "LAK",
       "LBP",
       "LKR",
       "LRD",
       "LSL",
       "LYD",
       "MAD",
       "MDL",
       "MGA",
       "MKD",
       "MMK",
       "MNT",
       "MOP",
       "MRU",
       "MUR",
       "MVR",
       "MWK",
       "MXN",
       "MXV",
       "MYR",
       "MZN",
       "NAD",
       "NGN",
       "NIO",
       "NOK",
       "NPR",
       "NZD",
       "OMR",
       "PAB",
       "PEN",
       "PGK",
       "PHP",
       "PKR",
       "PLN",
       "PYG",
       "QAR",
       "RON",
       "RSD",
       "RUB",
       "RWF",
       "SAR",
       "SBD",
       "SCR",
       "SDG",
       "SEK",
       "SGD",
       "SHP",
       "SLL",
       "SOS",
       "SRD",
       "SSP",
       "STN",
       "SVC",
       "SYP",
       "SZL",
       "THB",
       "TJS",
       "TMT",
       "TND",
       "TOP",
       "TRY",
       "TTD",
       "TWD",
       "TZS",
       "UAH",
       "UGX",
       "USD",
       "USN",
       "UYI",
       "UYU",
       "UZS",
       "VEF",
       "VND",
       "VUV",
       "WST",
       "XAF",
       "XAG",
       "XAU",
       "XBA",
       "XBB",
       "XBC",
       "XBD",
       "XCD",
       "XDR",
       "XOF",
       "XPD",
       "XPF",
       "XPT",
       "XSU",
       "XUA",
       "YER",
       "ZAR",
       "ZMW",
       "ZWL"
      ]
     },
     "toCurrencyCode": {
      "type": "string",
      "description": "This represents the three-letter currency code (such as USD for US Dollar) of the currency you want to convert to.",
      "example": null,
      "enum": [
       "AED",
       "AFN",
       "ALL",
       "AMD",
       "ANG",
       "AOA",
       "ARS",
       "AUD",
       "AWG",
       "AZN",
       "BAM",
       "BBD",
       "BDT",
       "BGN",
       "BHD",
       "BIF",
       "BMD",
       "BND",
       "BOB",
       "BOV",
       "BRL",
       "BSD",
       "BTN",
       "BWP",
       "BYN",
       "BZD",
       "CAD",
       "CDF",
       "CHE",
       "CHF",
       "CHW",
       "CLF",
       "CLP",
       "CNY",
       "COP",
       "COU",
       "CRC",
       "CUC",
       "CUP",
       "CVE",
       "CZK",
       "DJF",
       "DKK",
       "DOP",
       "DZD",
       "EGP",
       "ERN",
       "ETB",
       "EUR",
       "FJD",
       "FKP",
       "GBP",
       "GEL",
       "GHS",
       "GIP",
       "GMD",
       "GNF",
       "GTQ",
       "GYD",
       "HKD",
       "HNL",
       "HRK",
       "HTG",
       "HUF",
       "IDR",
       "ILS",
       "INR",
       "IQD",
       "IRR",
       "ISK",
       "JMD",
       "JOD",
       "JPY",
       "KES",
       "KGS",
       "KHR",
       "KMF",
       "KPW",
       "KRW",
       "KWD",
       "KYD",
       "KZT",
       "LAK",
       "LBP",
       "LKR",
       "LRD",
       "LSL",
       "LYD",
       "MAD",
       "MDL",
       "MGA",
       "MKD",
       "MMK",
       "MNT",
       "MOP",
       "MRU",
       "MUR",
       "MVR",
       "MWK",
       "MXN",
       "MXV",
       "MYR",
       "MZN",
       "NAD",
       "NGN",
       "NIO",
       "NOK",
       "NPR",
       "NZD",
       "OMR",
       "PAB",
       "PEN",
       "PGK",
       "PHP",
       "PKR",
       "PLN",
       "PYG",
       "QAR",
       "RON",
       "RSD",
       "RUB",
       "RWF",
       "SAR",
       "SBD",
       "SCR",
       "SDG",
       "SEK",
       "SGD",
       "SHP",
       "SLL",
       "SOS",
       "SRD",
       "SSP",
       "STN",
       "SVC",
       "SYP",
       "SZL",
       "THB",
       "TJS",
       "TMT",
       "TND",
       "TOP",
       "TRY",
       "TTD",
       "TWD",
       "TZS",
       "UAH",
       "UGX",
       "USD",
       "USN",
       "UYI",
       "UYU",
       "UZS",
       "VEF",
       "VND",
       "VUV",
       "WST",
       "XAF",
       "XAG",
       "XAU",
       "XBA",
       "XBB",
       "XBC",
       "XBD",
       "XCD",
       "XDR",
       "XOF",
       "XPD",
       "XPF",
       "XPT",
       "XSU",
       "XUA",
       "YER",
       "ZAR",
       "ZMW",
       "ZWL"
      ]
     },
     "visibleInUI": {
      "type": "boolean",
      "description": "This indicates if the currency pair is shown in the MultiCurrency settings page. Setting this to false will remove the currency pair from the settings page.",
      "example": null
     }
    },
    "example": null
   },
   "MulticurrencyError": {
    "required": [
     "category",
     "correlationId",
     "message"
    ],
    "type": "object",
    "properties": {
     "category": {
      "type": "string",
      "description": "The error category",
      "example": null
     },
     "context": {
      "type": "object",
      "additionalProperties": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      },
      "description": "Context about the error condition",
      "example": "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
     },
     "correlationId": {
      "type": "string",
      "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
      "format": "uuid",
      "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
     },
     "errors": {
      "type": "array",
      "description": "further information about the error",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/MulticurrencyErrorDetail"
      }
     },
     "links": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
      "example": null
     },
     "message": {
      "type": "string",
      "description": "A human readable message describing the error along with remediation steps where appropriate",
      "example": "An error occurred"
     },
     "subCategory": {
      "type": "string",
      "description": "A specific category that contains more specific detail about the error",
      "example": null
     }
    },
    "description": "Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.",
    "example": {
     "message": "Invalid input (details will vary based on the error)",
     "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
     "category": "VALIDATION_ERROR",
     "links": {
      "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
     }
    }
   },
   "MulticurrencyErrorDetail": {
    "required": [
     "message"
    ],
    "type": "object",
    "properties": {
     "code": {
      "type": "string",
      "description": "The status code associated with the error detail",
      "example": null
     },
     "context": {
      "type": "object",
      "additionalProperties": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      },
      "description": "Context about the error condition",
      "example": "{missingScopes=[scope1, scope2]}"
     },
     "in": {
      "type": "string",
      "description": "The name of the field or parameter in which the error was found.",
      "example": null
     },
     "message": {
      "type": "string",
      "description": "A human readable message describing the error along with remediation steps where appropriate",
      "example": null
     },
     "subCategory": {
      "type": "string",
      "description": "A specific category that contains more specific detail about the error",
      "example": null
     }
    },
    "description": "Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.",
    "example": null
   },
   "MulticurrencyExchangeRate": {
    "required": [
     "conversionRate",
     "createdAt",
     "effectiveAt",
     "fromCurrencyCode",
     "id",
     "toCurrencyCode",
     "updatedAt",
     "visibleInUI"
    ],
    "type": "object",
    "properties": {
     "conversionRate": {
      "type": "number",
      "description": "The conversion rate between the to and from currency code of this exchange rate.",
      "example": null
     },
     "createdAt": {
      "type": "string",
      "description": "The date the exchange rate was created.",
      "format": "date-time",
      "example": null
     },
     "effectiveAt": {
      "type": "string",
      "description": "The date the exchange rate is in effect.",
      "format": "date-time",
      "example": null
     },
     "fromCurrencyCode": {
      "type": "string",
      "description": "This represents the three-letter currency code (such as USD for US Dollar) of the currency you are converting from.",
      "example": null,
      "enum": [
       "AED",
       "AFN",
       "ALL",
       "AMD",
       "ANG",
       "AOA",
       "ARS",
       "AUD",
       "AWG",
       "AZN",
       "BAM",
       "BBD",
       "BDT",
       "BGN",
       "BHD",
       "BIF",
       "BMD",
       "BND",
       "BOB",
       "BOV",
       "BRL",
       "BSD",
       "BTN",
       "BWP",
       "BYN",
       "BZD",
       "CAD",
       "CDF",
       "CHE",
       "CHF",
       "CHW",
       "CLF",
       "CLP",
       "CNY",
       "COP",
       "COU",
       "CRC",
       "CUC",
       "CUP",
       "CVE",
       "CZK",
       "DJF",
       "DKK",
       "DOP",
       "DZD",
       "EGP",
       "ERN",
       "ETB",
       "EUR",
       "FJD",
       "FKP",
       "GBP",
       "GEL",
       "GHS",
       "GIP",
       "GMD",
       "GNF",
       "GTQ",
       "GYD",
       "HKD",
       "HNL",
       "HRK",
       "HTG",
       "HUF",
       "IDR",
       "ILS",
       "INR",
       "IQD",
       "IRR",
       "ISK",
       "JMD",
       "JOD",
       "JPY",
       "KES",
       "KGS",
       "KHR",
       "KMF",
       "KPW",
       "KRW",
       "KWD",
       "KYD",
       "KZT",
       "LAK",
       "LBP",
       "LKR",
       "LRD",
       "LSL",
       "LYD",
       "MAD",
       "MDL",
       "MGA",
       "MKD",
       "MMK",
       "MNT",
       "MOP",
       "MRU",
       "MUR",
       "MVR",
       "MWK",
       "MXN",
       "MXV",
       "MYR",
       "MZN",
       "NAD",
       "NGN",
       "NIO",
       "NOK",
       "NPR",
       "NZD",
       "OMR",
       "PAB",
       "PEN",
       "PGK",
       "PHP",
       "PKR",
       "PLN",
       "PYG",
       "QAR",
       "RON",
       "RSD",
       "RUB",
       "RWF",
       "SAR",
       "SBD",
       "SCR",
       "SDG",
       "SEK",
       "SGD",
       "SHP",
       "SLL",
       "SOS",
       "SRD",
       "SSP",
       "STN",
       "SVC",
       "SYP",
       "SZL",
       "THB",
       "TJS",
       "TMT",
       "TND",
       "TOP",
       "TRY",
       "TTD",
       "TWD",
       "TZS",
       "UAH",
       "UGX",
       "USD",
       "USN",
       "UYI",
       "UYU",
       "UZS",
       "VEF",
       "VND",
       "VUV",
       "WST",
       "XAF",
       "XAG",
       "XAU",
       "XBA",
       "XBB",
       "XBC",
       "XBD",
       "XCD",
       "XDR",
       "XOF",
       "XPD",
       "XPF",
       "XPT",
       "XSU",
       "XUA",
       "YER",
       "ZAR",
       "ZMW",
       "ZWL"
      ]
     },
     "id": {
      "type": "string",
      "description": "A unique identifier for the exchange rate",
      "example": null
     },
     "toCurrencyCode": {
      "type": "string",
      "description": "This represents the three-letter currency code (such as USD for US Dollar) of the currency you are converting to.",
      "example": null,
      "enum": [
       "AED",
       "AFN",
       "ALL",
       "AMD",
       "ANG",
       "AOA",
       "ARS",
       "AUD",
       "AWG",
       "AZN",
       "BAM",
       "BBD",
       "BDT",
       "BGN",
       "BHD",
       "BIF",
       "BMD",
       "BND",
       "BOB",
       "BOV",
       "BRL",
       "BSD",
       "BTN",
       "BWP",
       "BYN",
       "BZD",
       "CAD",
       "CDF",
       "CHE",
       "CHF",
       "CHW",
       "CLF",
       "CLP",
       "CNY",
       "COP",
       "COU",
       "CRC",
       "CUC",
       "CUP",
       "CVE",
       "CZK",
       "DJF",
       "DKK",
       "DOP",
       "DZD",
       "EGP",
       "ERN",
       "ETB",
       "EUR",
       "FJD",
       "FKP",
       "GBP",
       "GEL",
       "GHS",
       "GIP",
       "GMD",
       "GNF",
       "GTQ",
       "GYD",
       "HKD",
       "HNL",
       "HRK",
       "HTG",
       "HUF",
       "IDR",
       "ILS",
       "INR",
       "IQD",
       "IRR",
       "ISK",
       "JMD",
       "JOD",
       "JPY",
       "KES",
       "KGS",
       "KHR",
       "KMF",
       "KPW",
       "KRW",
       "KWD",
       "KYD",
       "KZT",
       "LAK",
       "LBP",
       "LKR",
       "LRD",
       "LSL",
       "LYD",
       "MAD",
       "MDL",
       "MGA",
       "MKD",
       "MMK",
       "MNT",
       "MOP",
       "MRU",
       "MUR",
       "MVR",
       "MWK",
       "MXN",
       "MXV",
       "MYR",
       "MZN",
       "NAD",
       "NGN",
       "NIO",
       "NOK",
       "NPR",
       "NZD",
       "OMR",
       "PAB",
       "PEN",
       "PGK",
       "PHP",
       "PKR",
       "PLN",
       "PYG",
       "QAR",
       "RON",
       "RSD",
       "RUB",
       "RWF",
       "SAR",
       "SBD",
       "SCR",
       "SDG",
       "SEK",
       "SGD",
       "SHP",
       "SLL",
       "SOS",
       "SRD",
       "SSP",
       "STN",
       "SVC",
       "SYP",
       "SZL",
       "THB",
       "TJS",
       "TMT",
       "TND",
       "TOP",
       "TRY",
       "TTD",
       "TWD",
       "TZS",
       "UAH",
       "UGX",
       "USD",
       "USN",
       "UYI",
       "UYU",
       "UZS",
       "VEF",
       "VND",
       "VUV",
       "WST",
       "XAF",
       "XAG",
       "XAU",
       "XBA",
       "XBB",
       "XBC",
       "XBD",
       "XCD",
       "XDR",
       "XOF",
       "XPD",
       "XPF",
       "XPT",
       "XSU",
       "XUA",
       "YER",
       "ZAR",
       "ZMW",
       "ZWL"
      ]
     },
     "updatedAt": {
      "type": "string",
      "description": "The date the exchange rate was last updated.",
      "format": "date-time",
      "example": null
     },
     "visibleInUI": {
      "type": "boolean",
      "description": "This indicates if the exchange rate is shown in the MultiCurrency settings page.",
      "example": null
     }
    },
    "example": null
   },
   "MulticurrencyExchangeRateCreateRequest": {
    "required": [
     "conversionRate",
     "fromCurrencyCode"
    ],
    "type": "object",
    "properties": {
     "conversionRate": {
      "type": "number",
      "description": "The conversion rate between the to and from currency code of this exchange rate.",
      "example": null
     },
     "effectiveAt": {
      "type": "string",
      "description": "The date the exchange rate is in effect.",
      "format": "date-time",
      "example": null
     },
     "fromCurrencyCode": {
      "type": "string",
      "description": "This represents the three-letter currency code (such as USD for US Dollar) of the currency you want to convert from.",
      "example": null,
      "enum": [
       "AED",
       "AFN",
       "ALL",
       "AMD",
       "ANG",
       "AOA",
       "ARS",
       "AUD",
       "AWG",
       "AZN",
       "BAM",
       "BBD",
       "BDT",
       "BGN",
       "BHD",
       "BIF",
       "BMD",
       "BND",
       "BOB",
       "BOV",
       "BRL",
       "BSD",
       "BTN",
       "BWP",
       "BYN",
       "BZD",
       "CAD",
       "CDF",
       "CHE",
       "CHF",
       "CHW",
       "CLF",
       "CLP",
       "CNY",
       "COP",
       "COU",
       "CRC",
       "CUC",
       "CUP",
       "CVE",
       "CZK",
       "DJF",
       "DKK",
       "DOP",
       "DZD",
       "EGP",
       "ERN",
       "ETB",
       "EUR",
       "FJD",
       "FKP",
       "GBP",
       "GEL",
       "GHS",
       "GIP",
       "GMD",
       "GNF",
       "GTQ",
       "GYD",
       "HKD",
       "HNL",
       "HRK",
       "HTG",
       "HUF",
       "IDR",
       "ILS",
       "INR",
       "IQD",
       "IRR",
       "ISK",
       "JMD",
       "JOD",
       "JPY",
       "KES",
       "KGS",
       "KHR",
       "KMF",
       "KPW",
       "KRW",
       "KWD",
       "KYD",
       "KZT",
       "LAK",
       "LBP",
       "LKR",
       "LRD",
       "LSL",
       "LYD",
       "MAD",
       "MDL",
       "MGA",
       "MKD",
       "MMK",
       "MNT",
       "MOP",
       "MRU",
       "MUR",
       "MVR",
       "MWK",
       "MXN",
       "MXV",
       "MYR",
       "MZN",
       "NAD",
       "NGN",
       "NIO",
       "NOK",
       "NPR",
       "NZD",
       "OMR",
       "PAB",
       "PEN",
       "PGK",
       "PHP",
       "PKR",
       "PLN",
       "PYG",
       "QAR",
       "RON",
       "RSD",
       "RUB",
       "RWF",
       "SAR",
       "SBD",
       "SCR",
       "SDG",
       "SEK",
       "SGD",
       "SHP",
       "SLL",
       "SOS",
       "SRD",
       "SSP",
       "STN",
       "SVC",
       "SYP",
       "SZL",
       "THB",
       "TJS",
       "TMT",
       "TND",
       "TOP",
       "TRY",
       "TTD",
       "TWD",
       "TZS",
       "UAH",
       "UGX",
       "USD",
       "USN",
       "UYI",
       "UYU",
       "UZS",
       "VEF",
       "VND",
       "VUV",
       "WST",
       "XAF",
       "XAG",
       "XAU",
       "XBA",
       "XBB",
       "XBC",
       "XBD",
       "XCD",
       "XDR",
       "XOF",
       "XPD",
       "XPF",
       "XPT",
       "XSU",
       "XUA",
       "YER",
       "ZAR",
       "ZMW",
       "ZWL"
      ]
     }
    },
    "example": null
   },
   "MulticurrencyExchangeRateMultiplier": {
    "required": [
     "conversionRate"
    ],
    "type": "object",
    "properties": {
     "conversionRate": {
      "type": "number",
      "description": "The updated conversion rate between the to and from currency code of this exchange rate.",
      "example": null
     },
     "effectiveAt": {
      "type": "string",
      "description": "The date the exchange rate is in effect.",
      "format": "date-time",
      "example": null
     }
    },
    "example": null
   },
   "MulticurrencyExchangeRateUpdateRequest": {
    "required": [
     "conversionRate",
     "id"
    ],
    "type": "object",
    "properties": {
     "conversionRate": {
      "type": "number",
      "description": "The updated conversion rate between the to and from currency code of this exchange rate.",
      "example": null
     },
     "effectiveAt": {
      "type": "string",
      "description": "The date the exchange rate will be in effect.",
      "format": "date-time",
      "example": null
     },
     "id": {
      "type": "string",
      "description": "A unique identifier for the exchange rate being updated",
      "example": null
     }
    },
    "example": null
   },
   "MulticurrencyForwardPaging": {
    "type": "object",
    "properties": {
     "next": {
      "$ref": "#/components/schemas/MulticurrencyNextPage"
     }
    },
    "description": "Paging information for forward-only pagination. Contains the next page reference when more results are available; omitted or empty on the last page.",
    "example": null
   },
   "MulticurrencyNextPage": {
    "required": [
     "after"
    ],
    "type": "object",
    "properties": {
     "after": {
      "type": "string",
      "description": "A paging cursor token for retrieving subsequent pages.",
      "example": null
     },
     "link": {
      "type": "string",
      "description": "A URL that can be used to retrieve the next page results.",
      "example": null
     }
    },
    "description": "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
    "example": null
   },
   "MulticurrencyPublicObjectId": {
    "required": [
     "id"
    ],
    "type": "object",
    "properties": {
     "id": {
      "type": "string",
      "description": "A unique identifier for the exchange rate",
      "example": null
     }
    },
    "description": "Contains the Id of a Public Object",
    "example": null
   },
   "MulticurrencyStandardError": {
    "required": [
     "category",
     "context",
     "errors",
     "links",
     "message",
     "status"
    ],
    "type": "object",
    "properties": {
     "category": {
      "type": "string",
      "description": "The main category of the error.",
      "example": null
     },
     "context": {
      "type": "object",
      "additionalProperties": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      },
      "description": "Additional context-specific information related to the error.",
      "example": null
     },
     "errors": {
      "type": "array",
      "description": "The detailed error objects.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/MulticurrencyErrorDetail"
      }
     },
     "id": {
      "type": "string",
      "description": "A unique ID for the error instance.",
      "example": null
     },
     "links": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "URLs linking to documentation or resources associated with the error.",
      "example": null
     },
     "message": {
      "type": "string",
      "description": "A human-readable string describing the error and possible remediation steps.",
      "example": null
     },
     "status": {
      "type": "string",
      "description": "The HTTP status code associated with the error.",
      "example": null
     },
     "subCategory": {
      "type": "object",
      "properties": {},
      "description": "A more specific error category within each main category.",
      "example": null
     }
    },
    "description": "Ye olde error",
    "example": null
   },
   "TaxRatesCollectionResponsePublicTaxRateGroupForwardPaging": {
    "required": [
     "results"
    ],
    "type": "object",
    "properties": {
     "paging": {
      "$ref": "#/components/schemas/TaxRatesForwardPaging"
     },
     "results": {
      "type": "array",
      "description": "An array of PublicTaxRateGroup objects, each representing a tax rate group with its properties.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/TaxRatesPublicTaxRateGroup"
      }
     }
    },
    "example": null
   },
   "TaxRatesError": {
    "required": [
     "category",
     "correlationId",
     "message"
    ],
    "type": "object",
    "properties": {
     "category": {
      "type": "string",
      "description": "The error category",
      "example": null
     },
     "context": {
      "type": "object",
      "additionalProperties": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      },
      "description": "Context about the error condition",
      "example": "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
     },
     "correlationId": {
      "type": "string",
      "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
      "format": "uuid",
      "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
     },
     "errors": {
      "type": "array",
      "description": "further information about the error",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/TaxRatesErrorDetail"
      }
     },
     "links": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
      "example": null
     },
     "message": {
      "type": "string",
      "description": "A human readable message describing the error along with remediation steps where appropriate",
      "example": "An error occurred"
     },
     "subCategory": {
      "type": "string",
      "description": "A specific category that contains more specific detail about the error",
      "example": null
     }
    },
    "description": "Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.",
    "example": {
     "message": "Invalid input (details will vary based on the error)",
     "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
     "category": "VALIDATION_ERROR",
     "links": {
      "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
     }
    }
   },
   "TaxRatesErrorDetail": {
    "required": [
     "message"
    ],
    "type": "object",
    "properties": {
     "code": {
      "type": "string",
      "description": "The status code associated with the error detail",
      "example": null
     },
     "context": {
      "type": "object",
      "additionalProperties": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      },
      "description": "Context about the error condition",
      "example": "{missingScopes=[scope1, scope2]}"
     },
     "in": {
      "type": "string",
      "description": "The name of the field or parameter in which the error was found.",
      "example": null
     },
     "message": {
      "type": "string",
      "description": "A human readable message describing the error along with remediation steps where appropriate",
      "example": null
     },
     "subCategory": {
      "type": "string",
      "description": "A specific category that contains more specific detail about the error",
      "example": null
     }
    },
    "description": "Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.",
    "example": null
   },
   "TaxRatesForwardPaging": {
    "type": "object",
    "properties": {
     "next": {
      "$ref": "#/components/schemas/TaxRatesNextPage"
     }
    },
    "description": "Paging information for forward-only pagination. Contains the next page reference when more results are available; omitted or empty on the last page.",
    "example": null
   },
   "TaxRatesNextPage": {
    "required": [
     "after"
    ],
    "type": "object",
    "properties": {
     "after": {
      "type": "string",
      "description": "A paging cursor token for retrieving subsequent pages.",
      "example": null
     },
     "link": {
      "type": "string",
      "description": "A URL that can be used to retrieve the next page results.",
      "example": null
     }
    },
    "description": "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
    "example": null
   },
   "TaxRatesPublicTaxRateGroup": {
    "required": [
     "active",
     "createdAt",
     "id",
     "label",
     "name",
     "percentageRate",
     "updatedAt"
    ],
    "type": "object",
    "properties": {
     "active": {
      "type": "boolean",
      "description": "Indicates whether the tax rate group is currently active.",
      "example": null
     },
     "createdAt": {
      "type": "string",
      "description": "The date and time when the tax rate was created.",
      "format": "date-time",
      "example": null
     },
     "id": {
      "type": "string",
      "description": "The unique identifier for the tax rate.",
      "example": null
     },
     "label": {
      "type": "string",
      "description": "The display label for the tax rate.",
      "example": null
     },
     "name": {
      "type": "string",
      "description": "The name of the tax rate.",
      "example": null
     },
     "percentageRate": {
      "type": "number",
      "description": "The percentage rate applied.",
      "example": null
     },
     "updatedAt": {
      "type": "string",
      "description": "The date and time when the tax rate was last updated.",
      "format": "date-time",
      "example": null
     }
    },
    "example": null
   },
   "TeamsBatchInputTeamMemberAssignment": {
    "required": [
     "inputs"
    ],
    "type": "object",
    "properties": {
     "inputs": {
      "type": "array",
      "description": "An array of team member assignments, where each item specifies the details of a team member to be assigned. Each item is of type 'TeamMemberAssignment'.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/TeamsTeamMemberAssignment"
      }
     }
    },
    "example": null
   },
   "TeamsBatchResponseTeamMemberResponse": {
    "required": [
     "completedAt",
     "results",
     "startedAt",
     "status"
    ],
    "type": "object",
    "properties": {
     "completedAt": {
      "type": "string",
      "description": "The date and time when the batch operation was completed, in ISO 8601 format.",
      "format": "date-time",
      "example": null
     },
     "errors": {
      "type": "array",
      "description": "An array of StandardError objects detailing any errors that occurred during the batch operation.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/TeamsStandardError"
      }
     },
     "links": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "A map of link names to associated URIs providing additional information about the batch operation.",
      "example": null
     },
     "numErrors": {
      "type": "integer",
      "description": "The number of errors encountered during the batch operation.",
      "format": "int32",
      "example": null
     },
     "requestedAt": {
      "type": "string",
[...]
